.DS_Store
**/.DS_Store

.DS_Store
.DS_Store
templates/.DS_Store
templates/g5_hydrogen/.DS_Store
templates/g5_hydrogen/custom/.DS_Store
templates/g5_hydrogen/.DS_Store
templates/.DS_Store
.DS_Store
.DS_Store
templates/.DS_Store
templates/g5_hydrogen/.DS_Store
