#g-navigation {
    //    background: $navigation-background;
    //    color: $navigation-text-color;
    //    background: $sunset;
    //    color: #ffffff;
    
        text-align: center;
        position: relative;
        z-index: 2;
    
        .g-container {
            position: relative;
        }
    
        a {
    //        color: lighten($sunset, 40%);
    
            &:hover {
                color: #ffffff;
            }
        }
    
        .g-main-nav {
             .g-toplevel {
                > li {
                    margin-left: 1.5rem;
                }
                margin: 5px auto 0px ;
                /*	color: rgb(216, 216, 216); */
                justify-content: left ;            
            }
        }
        .g-main-nav .g-toplevel > li > .g-menu-item-container > .g-menu-item-content
        {
          text-align: left;
          line-height: 21px; 
        }
        
        .g-main-nav .g-toplevel > li > .g-menu-item-container
        {
            text-decoration: none; 
            padding-top: 7px;
            padding-bottom: 10px;
            padding-right: 15px;
            font-size: 1.2em;
        } 
    
        /* Define the structure of the selected menu item */
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).g-selected
        {
            background: $navigation-submenu-color; 
            border-radius: 4px;
        }
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).g-selected > .g-menu-item-container
        {
            color: black ; 
            border-radius: 4px;
        }
        /* Define the structure of the selected menu item */
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active
        {  
            background: $navigation-activemenu-color;
            color: $navigation-text-color; 
            border-radius: 4px ;
            margin-left: 10px ;
        } 
    
        /* Define the structure of the selected menu item */
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active > .g-menu-item-container
        {  
            background: $navigation-activemenu-color;
            color: $navigation-text-color; 
            border-radius: 4px ;
            margin-left: 10px ;
        } 
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active.g-selected > .g-menu-item-container
        {  
            color: black; 
        } 
    
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active > .g-menu-item-container
        {
            background: $navigation-submenu-color;
            color: $navigation-text-color; 
            border-radius: 4px;
        }
        .g-main-nav .g-toplevel > li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active.g-selected
        {
            background: $navigation-submenu-color;
            border-radius: 4px;
        }
    
        /* Set the background colour of the dropdown menu */
        .g-main-nav .g-dropdown {
            background: $navigation-submenu-color;
            border-radius: 4px;
        }
    }

// Not sure if these work

.gf-menu-toggle::after {
    color: white;
    content: "Menu";
    float: left;
}
.gf-menu-toggle span {
    margin-left: 10px;
}

    