section#g-top div.g-block div.g-content{
    padding: 0px;
    margin: 0px;
}

section#g-top h2#ramblerssubtitle
{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 160px ;
  margin-right: 0px ;
  padding: 0 0 0 0;
}

section#g-top div#ramblersheader {
    height: 100px ;
}

